---
import Layout from '../../layouts/Layout.astro';
import CardActivite from '../../components/CardActivite.astro';
import { allActivitiesSorted } from '../../../backend/backend.mjs';
const activites = await allActivitiesSorted();
---

<Layout title="Activités">
	<div class="container py-20 space-y-8">
    <h1>Programme des activités</h1>
    <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-8">
      {activites.length > 0 ? (
        activites.map((activite) => (
          <CardActivite {...activite} />
        ))
      ) : (
        <p>Aucune activité n'a été trouvée.</p>
      )}
    </div>
  </div>
</Layout>