---
import Layout from '../../layouts/Layout.astro';
import CardFilm from '../../components/CardFilm.astro';
import { allFilmsSorted } from '../../../backend/backend.mjs';
const films = await allFilmsSorted();
---

<Layout title="Films">
	<div class="container py-20 space-y-8">
    <h1>Programme des films</h1>
    <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-8">
      {films.length > 0 ? (
        films.map((film) => (
          <CardFilm {...film} />
        ))
      ) : (
        <p>Aucun film n'a été trouvé.</p>
      )}
    </div>
  </div>
</Layout>