---
import { pb } from '../../backend/backend.mjs';
const { record, field = "imgUrl", alt, classPicture, classImg, thumb = "1024x1024" } = Astro.props;

const imageUrl = record?.[field] ? pb.files.getURL(record, record[field], { thumb }) : null;
---

{imageUrl ? (
  <div class={classPicture}>
    <img class={classImg} alt={alt || "Image"} src={imageUrl}/>
  </div>
) : (
  <div class={classPicture + " w-full h-60 lg:h-96 flex items-center justify-center bg-gray-200"}>
    <span class="text-gray-500">Image non disponible</span>
  </div>
)}