---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} — Vis'Sport` : "Vis'Sport"}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <Header />
      <slot/>
      <Footer />
    </main>
  </body>
</html>